
@{
    ViewBag.Title = "Relatório - Locação Por Cliente";
}

<h3>Relatório de Locação Por Cliente</h3>
<hr />

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Relatório
        </h3>
    </div>
    <div class="panel-body">    
        <table id="table" class="table table-hover">
            <thead>
                <tr>
                    <th>Id do Armário</th>
                    <th>Número Armário</th>
                    <th>Nome do Cliente</th>
                    <th>Setor</th>
                    <th>Localização</th>
                    <th>Data Locação</th>
                    <th>Data Devolução</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<link rel="stylesheet" href="~/node_modules/datatables.net-dt/css/jquery.dataTables.css" type="text/css" />
<script src="~/node_modules/datatables.net/js/jquery.dataTables.js"></script>
<script src="~/Scripts/amcharts/amcharts.js"></script>
<script src="~/Scripts/amcharts/serial.js"></script>
<script src="~/Scripts/amcharts/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="~/Scripts/amcharts/plugins/export/export.css" type="text/css" media="all" />
<script src="~/Scripts/amcharts/themes/light.js"></script>

<script type="text/javascript">
    $(document).ready(function () {        
        $('#table').DataTable({
            "ajax": {
                url: "/LockerReport/GetRentalByCustomerReport/",
                type: 'GET',
                cache: false,
                dataSrc: function (data) {
                    try {
                        debugger;
                        return data;
                    } catch (e) {
                        return false;
                    }
                }
            },
            "columns": [
                { "data": "LockerId" },
                { "data": "NumberOfPositionLocker" },
                { "data": "CustomerName" },
                { "data": "SectorName" },
                { "data": "SectorLocationName" },
                { "data": "FormattedInitialRentalDate" },
                { "data": "FormattedFinalRentalDate" }
            ]
        });
    });
</script>
