
@{
    ViewBag.Title = "Relatório - Locação Por Cliente";
}

<h3>Relatório de Locação Por Cliente</h3>
<hr />

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Relatório
        </h3>
    </div>
    <div class="panel-body">
        <div class="input-group">
            <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
            <input type="text" required id="filterD" class="form-control" placeholder="Buscar item na tabela" data-bind="value:filter,valueUpdate: 'keyup'" />
        </div><hr />
        <table class="table table-hover">
            <thead>
                <tr>
                    @*<th>Id</th>*@
                    <th>Id do Armário</th>
                    <th>Número Armário</th>
                    @*<th>Cliente</th>*@
                    <th>Nome do Cliente</th>
                    <th>Setor</th>
                    <th>Localização</th>
                    <th>Data Locação</th>
                    <th>Data Devolução</th>
                </tr>               
            </thead>
       
            <tbody data-bind="foreach: filteredList">
                <tr>
                    @*<td data-bind="text: CustomerActivityId"></td>*@
                    <td data-bind="text: LockerId"></td>
                    <td data-bind="text: NumberOfPositionLocker"></td>
                    @*<td data-bind="text: CustomerId"></td>*@
                    <td data-bind="text: CustomerName"></td>
                    <td data-bind="text: SectorName"></td>
                    <td data-bind="text: SectorLocationName"></td>
                    <td data-bind="text: FormattedInitialRentalDate"></td>
                    <td data-bind="text: FormattedFinalRentalDate"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        var viewModel = function () {
            var self = this;

            self.RentalByCustomerReport = ko.observableArray();
            self.filter = ko.observable();

            self.filteredList = ko.computed(function () {
                var filter = self.filter(),
                    arr = [];
                if (filter) {
                    ko.utils.arrayForEach(self.RentalByCustomerReport(), function (item) {
                        if (item.LockerId.toString().toUpperCase() == filter.toString().toUpperCase()
                            || item.NumberOfPositionLocker.toString().toUpperCase() == filter.toString().toUpperCase()
                            || item.CustomerName.toString().toUpperCase() == filter.toString().toUpperCase()
                            || item.SectorName.toString().toUpperCase() == filter.toString().toUpperCase()
                            || item.FormattedInitialRentalDate.toString().toUpperCase() == filter.toString().toUpperCase()
                            || item.FormattedFinalRentalDate.toString().toUpperCase() == filter.toString().toUpperCase()) {

                            arr.push(item);
                        }
                    });
                } else {
                    arr = self.RentalByCustomerReport();
                }
                return arr;
            });

            function GetReport() {
                $.ajax({
                    type: 'GET',
                    url: '/LockerReport/GetRentalByCustomerReport/',
                    success: function (data) {
                        if (data) {
                            var response = $.parseJSON(JSON.stringify(data));
                            self.RentalByCustomerReport(response);
                            console.log(response);
                        }
                    }
                });
            }


            self.InitializeComponent = function () {
                GetReport();
            }();
        }

        ko.applyBindings(new viewModel());

    });
</script>
<script src="~/Scripts/app/TableFilters.js" type="text/javascript"></script>