
@{
    ViewBag.Title = "Clientes";
}

<h3>Meus Clientes</h3>
<hr />
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Configurações</h3>
    </div>
    <div class="panel-body">
        <a class="btn btn-primary open-new-customer-modal">Novo Cliente</a>


    </div>
</div>


<div class="modal fade" id="new-customer-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Adicionar Novo Cliente</h4>
            </div>
            <form data-bind="submit: NewCustomerSubmit">
                <div class="modal-body">


                    <div class="form-group">
                        <label for="sector-name" class="col-2 col-form-label">Nome: *</label>
                        <div class="col-10">
                            <input type="text" class="form-control" placeholder="Nome" name="CustomerName" data-bind="value: CustomerName">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="sector-name" class="col-2 col-form-label">Cpf: *</label>
                        <div class="col-10">
                            <input type="text" class="form-control" placeholder="Cpf" name="CustomerCpf" id="CustomerCpf" data-bind="value: CustomerCpf, event:{ change: CpfIsChange }">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="sector-name" class="col-2 col-form-label">Data de nascimento: *</label>
                        <div class="col-10">
                            <input type="text" class="form-control date" placeholder="Data de Nascimento" name="BirthDate" data-bind="value: BirthDate">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="sector-name" class="col-2 col-form-label">Id da Pulseira:</label>
                        <div class="col-10">
                            <input type="text" class="form-control" placeholder="Id da Pulseira" name="TagUID" data-bind="value: TagUID">
                        </div>
                    </div>

                    <div class="alert alert-warning" role="alert" data-bind="visible: Error">
                        <strong>Ocorreu um erro ao adicionar o cliente, por favor tente novamente!</strong>
                    </div>
                    <div class="alert alert-warning" role="alert" data-bind="visible: HaveABlankFields">
                        <strong>Por favor, preencha todos os campos obrigatórios!</strong>
                    </div>
                    <div class="alert alert-warning" role="alert" data-bind="visible: AlreadyExistsThisCustomer">
                        <strong>já existe um cliente com este CPF!</strong>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Adicionar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="edit-customer-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Editar Cliente</h4>
            </div>
            <form data-bind="submit: EditCustomerSubmit">
                <div class="modal-body">


                    <div class="form-group">
                        <label for="sector-name" class="col-2 col-form-label">Cpf: *</label>
                        <div class="col-10">
                            <input disabled type="text" class="form-control CustomerCpf" placeholder="Cpf" name="CustomerCpf" data-bind="value: EditCustomerCpf">
                            <input  type="hidden" class="form-control CustomerCpf" placeholder="Cpf" name="CustomerCpf" data-bind="value: EditCustomerCpf">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="sector-name" class="col-2 col-form-label">Nome: *</label>
                        <div class="col-10">
                            <input type="text" class="form-control" placeholder="Nome" name="CustomerName" data-bind="value: EditCustomerName">
                            <input type="hidden" name="CustomerId" data-bind="value: EditCustomerId" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="sector-name" class="col-2 col-form-label">Data de nascimento: *</label>
                        <div class="col-10">
                            <input type="text" class="form-control date" placeholder="Data de Nascimento" name="BirthDate" data-bind="value: EditBirthDate">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="sector-name" class="col-2 col-form-label">Id da Pulseira:</label>
                        <div class="col-10">
                            <input type="text" class="form-control" placeholder="Id da Pulseira" name="TagUID" data-bind="value: EditTagUID">
                        </div>
                    </div>

                    <div class="alert alert-warning" role="alert" data-bind="visible: Error">
                        <strong>Ocorreu um erro ao adicionar o cliente, por favor tente novamente!</strong>
                    </div>
                    <div class="alert alert-warning" role="alert" data-bind="visible: EditHaveABlankFields">
                        <strong>Por favor, preencha todos os campos obrigatórios!</strong>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" style="float:left" data-bind="event:{ click: OpenConfirmationModal }">Remover</a>
                    <button type="submit" class="btn btn-success">Alterar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="confirm" role="dialog">
    <div class="modal-dialog modal-sm">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Remover Cliente</h4>
            </div>
            <div class="modal-body">
                <p>Deseja realmente remover este cliente?</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" data-bind="click: RemoveCustomer">Remover</a>
                <button type="button" data-dismiss="modal" class="btn btn-secondary">Cancelar</button>
            </div>
        </div>

    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Clientes</h3>
    </div>
    <div class="panel-body">
        @*<div class="input-group">
            <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
            <input type="text" required id="filterD" class="form-control" placeholder="Buscar item na tabela" data-bind="value:filter,valueUpdate: 'keyup'" />
        </div>
        <hr />*@

        <table class="table table-hover" id="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Cpf</th>
                    <th>Data de nascimento</th>
                    <th>Data de registro</th>
                    <th>Tag UID</th>
                    <th>Ação</th>
                </tr>
            </thead>
        </table>
        @*<table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Cpf</th>
                    <th>Data de nascimento</th>
                    <th>Data de registro</th>
                    <th>Tag UID</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: filteredList">
                <tr>
                    <td data-bind="text: CustomerId"></td>
                    <td data-bind="text: CustomerName"></td>
                    <td data-bind="text: CustomerCpf"></td>
                    <td data-bind="text: FormattedBirthDate"></td>
                    <td data-bind="text: FormattedRegistrationDate"></td>
                    <td data-bind="text: TagUID"></td>
                    <td>
                        <div class="btn-group" role="group" aria-label="...">
                            <a class="btn btn-warning" data-bind="click: $parent.EditCustomer">Editar</a>
                            <a class="btn btn-danger" data-bind="click: $parent.RemoveCustomer">Remover</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>*@
    </div>
</div>

<link rel="stylesheet" href="~/node_modules/datatables.net-dt/css/jquery.dataTables.css" type="text/css" />
<script src="~/node_modules/datatables.net/js/jquery.dataTables.js"></script>

<script src="~/Scripts/jquery.maskedinput.js"type="text/javascript"></script>
<script src="~/Scripts/app/View/Customer/Customer.js" type="text/javascript"></script>

